<!DOCTYPE html>
<html>
    <head>
        <title>Assign Owner</title>
    </head>
    <body>
        <form th:action="@{'/shop/assignOwner/' + ${shop.shopId}}" method="post">
            <label for="owner">Select Owner:</label>
            <select id="owner" name="ownerId">
                <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.name}"></option>
            </select>
            <button type="submit">Assign Owner</button>
        </form>
        
    </body>
</html>