<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css">
    <title>Your Cart</title>
</head>
<body>
    <div class="cart-container">
        <div class="back-arrow"><img src="/icons/icons8-back-50.png"></div>
        <div class="cycles"><img src="/images/Group 39474 (1).png"></div>
        <div class="cart-quantity">Your Cart(5)</div>
        <div class="cart-title">
            <div class="dish">Dish</div>
            <div class="shop">Shop</div>
            <div class="amount">Amount</div>
            <div class="price">Price</div>
        </div>
        <div class="dish-box">
            <div class="selected-dish-box">
                <div class="selected-dish">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="bullet1" />
                        <label for="bullet1"></label>
                    </div>
                    <div class="dish-picture">
                        <img src="/images/4k-mercedes-red-zcj47yx9mq7tfjed.webp">
                    </div>
                    <div class="dish-desc">
                        <span class="name">Shrimp Fried Rice</span>
                        <span>Add-ons: Fried egg(1)</span>
                    </div>
                </div>
                <div class="shop-no">12</div>
                <div class="dish-amount">
                    <div id="deduct">-</div>
                    <div id="quantity">1</div>
                    <div id="add">+</div>
                </div>
                <div class="dish-price">
                    <div class="d-price">
                        <div class="thai-baht-icon"><img src="/icons/icons8-thai-baht-24.png"></div> 
                        50.00
                    </div>
                    <div class="delete-button"><img src="/icons/icons8-delete-24.png"></div>
                </div>
            </div>
        </div>
        

        <div class="div-check-out">
            <div class="check-out-button">Check Out (5)</div>
        </div>
    </div>
</body>
</html>
