<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Picture</title>
</head>
<body>
    <h1>Edit Picture</h1>
    <form th:action="@{/picture/edit/{id}(id=${picture.pictureId})}" method="post" enctype="multipart/form-data">
        <label for="name">Picture Name:</label>
        <input type="text" id="name" name="pictureName" th:value="${picture.pictureName}" required>
        <br>
        <label for="file">Upload New Picture (optional):</label>
        <input type="file" id="file" name="file">
        <br>
        <button type="submit">Update Picture</button>
    </form>
</body>
</html>
