<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite</title>
    <link rel="stylesheet" href="/styles/fav.css">
    <link rel="stylesheet" href="/styles/toggle.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <div class="header">
        <div class="hleft">
            <div>Location:</div>
            <div th:text="${firstFavoriteItem != null ? firstFavoriteItem.item.shop.canteen.name: ''}" class="selected-canteen-name"></div>
        </div>
        <div class="hright">
            <div class="left-section">
                <div class="custom-circle-text">Find the <br> Food around you</div>
                <img class="custom-circle" src="/images/Ellipse 1220.png" alt="Custom Circle">
            </div>
            <div class="middle-section">
                <div class="search-icon"><img src="/icons/icons8-search-50 (1).png"></div>
                <div class="input-search">
                    <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchItems()">
                </div>                
            </div>        
            <div class="right-section">
                <div class="cart-icon">
                    <span class="cart-total-qty" th:text="${cartQty}">0</span>
                    <a th:href="@{'/user/'+${userId}+'/cart'}"><img src="/icons/cart.png"></a>
                </div>
                <div class="bell-icon"><img src="/icons/BELL NOTI.png"></div>
                <div class="profile-button"><img src="/icons/profile.png"></div>
            </div>
        </div>
    </div>
    <div class="div-nav-bar">
        <div class="nav-button">
            <a th:href="@{'/user/'+ ${userId} + '/home'}"><div class="nav-icon"><img src="/icons/icons8-home-48.png" alt="home button"></div></a>
            <a th:href="@{'/user/'+ ${userId} + '/home'}"><div class="nav-icon1"><img src="/icons/icons8-home-50.png" alt="home button"></div></a>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img id="menu-icon" src="/icons/menu-icon-color.png" alt="menu button"></div>
            <div class="nav-icon1"><img id="menu-icon" src="/icons/menu-icon.png" alt="menu button"></div>
        </div>
        <div class="nav-button">
            <a th:href="@{'/user/'+ ${userId} +'/favorite'}"><div class="nav-icon"><img  src="/icons/icons8-heart-50 (1).png" alt="home button"></div></a>
            <div class="nav-icon1"><img src="/icons/icons8-heart-50 (1).png" alt="heart button"></div>
        </div>
        <div class="nav-button">
            <a th:href="@{'/user/'+ ${userId} + '/orders'}">
                <img  id="history-icon" src="/icons/history-icon.png" alt="home button"></div>
            </a><div class="nav-icon">
            <!-- <div class="nav-icon1"><img id="history-icon" src="/icons/history-icon.png" alt="history button"></div> -->
        </div>
    </div>
    <div class="display-msg" th:if="${isFavoriteItemEmpty}">
        <img src="/icons/nofavorite.png" alt="No favorite">
        <span>No Favorite Item Yet!</span>
        <a th:href="@{'/user/'+${userId}+'/home'}">Add</a>
    </div>
    <div th:unless="${isFavoriteItemEmpty}">
        <div class="div-fav-container">
            <div class="back-arrow">
                <a onclick="window.history.back();">
                    <img src="/icons/icons8-back-50.png" alt="Back">
                </a>
            </div>
            <div class="custom-circle2">
                <img src="/images/Group 39474 (1).png" alt="custom-circle">
            </div>
            <h2>Your Favorite Items</h2>
            <div class="fav-menu-box">
                <div class="div-menu-box">
                    <div class="menu-card" th:each="favoriteItem : ${favoriteItems}">
                        <img th:src="${favoriteItem.item.imageUrl}" alt="Item Image" class="menu-image">
                        <div class="menu-info">
                            <p th:text="${favoriteItem.item.name}">Item Name</p>
                            <div class="info-bottom">
                                <div class="rating">
                                    <img src="/images/rating-star.png">
                                </div>
                                <div class="price-update">
                                    <img class="thai-baht" src="/icons/icons8-thai-baht-24.png">
                                    <span class="price" th:text="${favoriteItem.item.price}">0.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
</body>
</html>