<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite</title>
    <link rel="stylesheet" href="/styles/menu-container.css">
    <link rel="stylesheet" href="/styles/header-o.css">
    <link rel="stylesheet" href="/styles/toggle.css">
    <link rel="stylesheet" href="/styles/profile-box.css">
</head>
<body>

    <div class="div-menu-container">
        <div class="custom-circle">
            <img src="/images/Group 39474 (1).png" alt="custom-circle">
        </div>
        <h2>Your Favorite Items</h2>
        <div class="div-menu-box">
            <div class="menu-card" th:each="favoriteItem : ${favoriteItems}">
                <img th:src="${favoriteItem.item.imageUrl}" alt="Item Image" class="menu-image">
                <div class="menu-info">
                    <p th:text="${favoriteItem.item.name}">Item Name</p>
                    <div class="info-bottom">
                        <div class="rating">
                            <img src="/images/rating-star.png">
                        </div>
                        <div class="price-update">
                            <img class="thai-baht" src="/icons/icons8-thai-baht-24.png">
                            <span class="price" th:text="${favoriteItem.item.price}">0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>