<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <div class="header">
        <div class="hleft">
            <div>Location</div>
            <div>
                <select id="canteenSelect" onchange="fetchShopsAndItems()">
                    <option value="">Select Canteen</option>
                    <th:block th:each="canteen : ${canteens}">
                        <option th:value="${canteen.canteenId}" th:text="${canteen.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="hright">
            <div class="left-section">Find the <br> Food around you</div>
            <div class="middle-section">
                <div class="search-icon"><img src="/icons/icons8-search-50 (1).png"></div>
                <div class="input-search"><input type="text" placeholder="Search..."></div>
            </div>
            <div class="right-section">
                <div class="cart-icon">
                    <a th:href="@{'/user/'+${userId}+'/cart'}"><img src="/icons/cart.png"></a>
                </div>
                <div class="bell-icon"><img src="/icons/BELL NOTI.png"></div>
                <div class="profile-button"><img src="/icons/profile.png"></div>
            </div>
        </div>
    </div>

    <div class="div-nav-bar">
        <div class="nav-button">
            <div class="nav-icon"><img  src="/icons/icons8-home-48.png" alt="home button"></div>
            <div class="nav-icon1"><img  src="/icons/icons8-home-48.png" alt="home button"></div>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  id="menu-icon" src="/icons/menu-icon-color.png" alt="home button"></div>
            <div class="nav-icon1"><img  id="menu-icon" src="/icons/menu-icon.png" alt="home button"></div>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  src="/icons/icons8-heart-50 (1).png" alt="home button"></div>
            <div class="nav-icon1"><img  src="/icons/icons8-heart-50.png" alt="home button"></div>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  id="history-icon" src="/icons/history-icon.png" alt="home button"></div>
            <div class="nav-icon1"><img  id="history-icon" src="/icons/history-icon.png" alt="home button"></div>
        </div>
    </div>

    <div class="recommended-food-container1">
        <div class="recommended-text">Recommended Dishes</div>
        <div id="recommendedFoodContainer1" class="food-container1"></div>
        <div id="recommendedFoodContainer2" class="food-container2"></div>
    </div>

    <div class="shops-in-canteen">
        <div class="recommended-text">Shops in &nbsp;<span id="selectedCanteenName" th:text="${selectedCanteenName}"></span></div>
        <div id="shopContainer" class="food-container1"></div>
    </div>

    <input type="hidden" id="userIdField" th:value="${userId}">


    <script>
        const userId = document.getElementById("userIdField").value;
    </script>
    <script src="/script/home.js"></script>
</body>
</html>
