<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/general.css">
</head>
<body>
    <div class="login-box">
        <div class="cover-photo">
            <img class="cover-img" src="/images/login-cover.gif">
            <div class="cover-text"><span class="text-1">Log In</span> 
                <br><span class="text-2">Please Sign in to your existing account</span>
            </div>
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <p class="input-name">Email</p>
                <input class="input-email" type="text" name="username" placeholder="Enter your Email" required>
                
                <p class="input-name">Password</p>
                <input class="input-password" type="password" name="password" placeholder="Enter your Password" required>
            </div>
            <div class="check-box-div">
                <!-- <div class="check-box">
                    <input class="check" type="checkbox" name="remember-me">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forget-pw">
                    <a href="/forgot-password" class="forget-link">Forgot Password?</a>
                </div> -->
            </div>
            <button class="login-button" type="submit">LOG IN</button>
        </form>
        <div class="text-box">
            <div>Don't have an account? <a href="/register" class="text-3">SIGN UP</a></div>
            <p>Or</p>
        </div>
        <div class="app-logo">
            <!-- <img class="fb-logo" src="/icons/icons8-facebook-64.png">
            <img class="line-logo" src="/icons/icons8-line-48.png"> -->
            <a th:href="@{/oauth2/authorization/google}"><img class="google-logo" src="/icons/icons8-google-48.png">Continue with Google</a>
        </div>
    </div>
</body>
</html>
