<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/order-container-u.css">
    <title>Orders</title>
</head>
<body>
    <div class="header">
        <div class="hleft">
            <div>Location:</div>
            <div class="selected-canteen-name"></div>
        </div>
        <div class="hright">
            <div class="left-section">
                <div class="custom-circle-text">Find the <br> Food around you</div>
                <img class="custom-circle" src="/images/Ellipse 1220.png" alt="Custom Circle">

            </div>
            <div class="middle-section">
                <div class="search-icon"><img src="/icons/icons8-search-50 (1).png" alt="Search Icon"></div>
                <div class="input-search">
                    <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchItems()">
                </div>                
            </div>
            <div class="right-section">
                <div class="cart-icon">
                    <span class="cart-total-qty" th:text="${totalCartQuantity}">0</span>
                    <a th:href="@{'/user/'+${userId}+'/cart'}"><img src="/icons/cart.png" alt="Cart Icon"></a>
                </div>
                <div class="bell-icon">
                    <span class="cart-total-qty">0</span>
                    <img src="/icons/BELL NOTI.png" alt="Notification Bell">
                </div>
                <div class="profile-button"><img src="/icons/profile.png" alt="Profile"></div>
            </div>
        </div>
    </div>
    <div class="div-nav-bar">
        <div class="nav-button">
            <a th:href="@{'/user/'+ ${userId} + '/home'}"><div class="nav-icon"><img  src="/icons/icons8-home-48.png" alt="home button"></div></a>
            <a th:href="@{'/user/'+ ${userId} + '/home'}"><div class="nav-icon1"><img  src="/icons/icons8-home-48.png" alt="home button"></div></a>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  id="menu-icon" src="/icons/menu-icon-color.png" alt="home button"></div>
            <div class="nav-icon1"><img  id="menu-icon" src="/icons/menu-icon.png" alt="home button"></div>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  src="/icons/icons8-heart-50 (1).png" alt="home button"></div>
            <div class="nav-icon1"><img  src="/icons/icons8-heart-50.png" alt="home button"></div>
        </div>
        <div class="nav-button">
            <div class="nav-icon"><img  id="history-icon" src="/icons/history-icon.png" alt="home button"></div>
            <div class="nav-icon1"><img  id="history-icon" src="/icons/history-icon.png" alt="home button"></div>
        </div>
    </div>
    <div class="order-body">  
        <div th:if="${orders.isEmpty()}">
            <p>You have no orders yet.</p>
        </div>
    
        <div class="div-order-container" th:unless="${orders.isEmpty()}">
            <h2>Total Orders: <span th:text="${orders.size()}">0</span></h2>
            <div class="order-box">
                <div th:each="order : ${orders}" class="order-panel">
                    <div class="order-header">
                        <div>
                            <span th:text="'Order ID: #' + ${order.orderId}">Order ID</span> /
                            <span th:text="'Shop : ' + ${order.shop.shopNum}">Shop Number</span>/
                            <!-- <span th:text="${'Total: B' + order.totalPrice}"><strong>Total pirce</strong></span> -->
                            <span>Total : <strong th:text="${#numbers.formatDecimal(order.totalPrice, 2, 2)}">Total pirce</strong></span> 
                        </div>
                        <div class="order-status">
                            <span class="status-text" th:text="${order.status}+'.....'">Status</span>
                        </div>
                        <span class="date-time" th:text="${order.formattedOrderDate}">Order Date and Time</span>
                    </div>
                    <div class="order-items">
                        <div th:each="orderItem : ${order.orderItems}" class="order-item">
                            <div class="order-item-img">
                                <img class="item-pic" th:src="${orderItem.item.imageUrl}" alt="Item Image">
                            </div>
                            <div class="middle-sec">
                                <div class="info-div">
                                    <span><strong th:text="${orderItem.item.name}">Item Name</strong></span>
                                </div>
                                <div class="info-div1">
                                    <div class="price" th:text="'Price: ' + ${#numbers.formatDecimal(orderItem.item.price, 2,2)}">Price</div>
                                </div>
                            </div>
                            <div class="right-sec">
                                <span class="quantity">Quantity: <strong th:text="${orderItem.quantity}">0</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // Retrieve the selected canteen name from localStorage
        const canteenName = localStorage.getItem("selectedCanteenName");
    
        // Display the canteen name in the appropriate location
        if (canteenName) {
            document.querySelector(".header .hleft div:nth-child(2)").textContent = canteenName;
        }
    </script>
    
</body>
</html>