<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="/styles/general.css">
</head>
<body>
    <div class="login-box">
        <div class="cover-photo">
            <img class="cover-img" src="/images/login-cover.gif">
            <div class="back-arrow">
                <img class="ba-icon" src="/icons/icons8-back-arrow-48.png">
            </div>
            <div class="cover-text"><span class="text-1">Sign Up</span> 
                <br><span class="text-2">Please Sign up to get started</span>
            </div>
        </div>
        <div>
            <p class="input-name">NAME</p>
            <input class="input-email" type="email" placeholder="Enter your Name">
            
            <p class="input-name">EMAIL</p>
            <input class="input-email" type="email" placeholder="Enter your Email">
            
            <p class="input-name">PASSWORD</p>
            <input class="input-password" type="text" placeholder="Enter your Password">

            <p class="input-name">RE-TYPE PASSWORD</p>
            <input class="input-email" type="email" placeholder="Enter your Password">
            
        </div>
        <button class="signup-button">SIGN UP</button>
    </div>
</body>
</html>
