body{
    background-color: rgb(233, 233, 233);
    padding-bottom: 500px;
    margin: 0;
}
.display-msg{
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-msg img{
    margin-bottom: 30px;
    width: 250px;
}
.display-msg a{
    font-size: 25px;
}
.div-fav-container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 73px 0px 30px 50px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    position: relative;
}
.back-arrow{
    position: relative;
    top: 8px;
    left: 5px;
    cursor: pointer;
}
.back-arrow img{
    height: 30px;
    width: 30px;
}
.custom-circle, .custom-circle2{
    position: absolute;
    top: 0;
    right: 0;
}
.custom-circle img, .custom-circle2 img{
    border-top-right-radius: 10px;
}
.div-fav-container h2{
    text-align: center;
    font-size: 30px;
    padding:0 0 50px 0;
    line-height: 0;
}
.fav-menu-box{
    padding: 0 50px 70px 50px;
}
.div-menu-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
@media (max-width: 800px){
    .div-menu-box{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) and (  max-width: 999px){
    .div-menu-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) and (  max-width: 1299px){
    .div-menu-box{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.menu-card {
    position: relative;
    max-width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}
.menu-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.menu-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-info {
    padding: 0 15px 13px 15px;
    text-align: left;
}

.menu-info p{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating img{
   height: 15px;
}

.price-update {
    text-align: right;
    display: flex;
}
.thai-baht{
    height: 15px;
}
.price {
    font-size: 14px;
}

.edit-item{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-item img{
    height: 15px;
    padding-top: 3px;
}