.header{
    display: flex;
}
.hleft{
    width: 120px;
    height: 65px;
    border-radius: 5px;
    margin: 0px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.hright{
    flex: 1;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
}
.left-section{
    width: 200px;
    font-size: 25px;
    padding: 5px 0px 0px 15px;
    color: white;
}
.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 10px;
    min-width: 300px;
}
.search-icon{
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 29px;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
.search-icon img{body{
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}
.header{
    display: flex;

}
.hleft{
    width: 120px;
    height: 65px;
    border-radius: 5px;
    margin: 0px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.hright{
    flex: 1;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
}
.left-section{
    width: 200px;
    font-size: 25px;
    padding: 5px 0px 0px 15px;
    color: white;
}
.middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 10px;
    min-width: 300px;
}
.search-icon{
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 29px;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
.search-icon img{
    width: 18px;
    cursor: pointer;
}
.input-search{
    display: flex;
    width: 70%;
}
.input-search input{
    background-color: rgb(224, 224, 224);
    border: none;
    height: 27px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    width: 100%;
}
.input-search input:focus {
    outline: none; /* Removes the default focus outline */
    border: none;  /* Ensures there is no border */
    box-shadow: none; /* Remove any box shadow if present */
}
.right-section{
    width: 180px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right:15px ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-icon, .bell-icon, .profile-button{
    cursor: pointer;
}
.cart-icon img, .bell-icon img{
    width: 19px;
}
.profile-button img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

/* ==================For the navigation bar ===============================*/
.div-nav-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid coral;
    top: 72px;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 40px;
    border-radius: 10px;
}
.nav-button{
    position: relative;
}
.nav-button img{
    height: 20px;
}
.nav-icon{
    position: absolute;
    top: 0;
}
.nav-icon{
    opacity: 0;
    transition: 0.3s ease;
}
.nav-icon:hover{
    opacity: 1;
    cursor: pointer;
}
#menu-icon, #history-icon{
    height: 15px;
}
    width: 18px;
    cursor: pointer;
}
.input-search{
    display: flex;
    width: 70%;
}
.input-search input{
    background-color: rgb(224, 224, 224);
    border: none;
    height: 27px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    width: 100%;
}
.input-search input:focus {
    outline: none; /* Removes the default focus outline */
    border: none;  /* Ensures there is no border */
    box-shadow: none; /* Remove any box shadow if present */
}
.right-section{
    width: 180px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right:15px ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-icon, .bell-icon, .profile-button{
    cursor: pointer;
}
.cart-icon img, .bell-icon img{
    width: 19px;
}
.profile-button img{
    width: 32px;
    height: 32px;
    padding-right: 10px;
}